[Desktop Entry]
Name=WayTerm
Comment=A Wayland Native Terminal emulator
Exec=wayterm
Icon=wayterm
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
